@use '../variables';



// 팀 멤버 카드 스타일
.member-card {
    background-color: #F1F3F5;
    border-radius: 3.2rem;
    overflow: hidden;
    margin-bottom: 2rem;
    position: relative;
    
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-top-left-radius: 3.2rem;
        border-top-right-radius: 3.2rem;
    }
    
    .member-info {
        background-color: #fff;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        padding: 2rem; /* 좌우 패딩 늘림 */
        border-radius: 2rem;
        min-width: 80%; /* 최소 너비 설정 */
        text-align: left;
        align-items: center;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        justify-content: space-between;
        transition: all 0.3s ease; /* 부드러운 전환 효과 */
        
        &:hover {
            transform: translateX(-50%) translateY(-5px); /* 위로 살짝 올라가는 효과 */
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); /* 그림자 강화 */
            cursor: pointer; /* 마우스 커서 변경 */
        }
        
        i{
            font-size: 3.5rem;
            transition: color 0.3s ease; /* 아이콘 색상 전환 효과 */
            border-radius: 13px;
            
            &:hover {
                color: #1F2124; /* 아이콘에 호버 시 색상 변경 */
            }
        }
        i:hover{
            color: #7E9F85;
        }
        i:active{
            color: #5b7660;
        }
        
        h4 {
            color: #1F2124;
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: .4rem;
        }
        
        p {
            color: #7B848D;
            font-size: 1.4rem;
            font-weight: 400;
            margin-bottom: 0rem;
        }
    }
}
