@use 'variables';

// 기본 폰트 크기 설정
html{
    font-size: 10px;
}

// 기본 스타일 초기화
html, body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (min-width: 768px){
    .custom-padding{
        padding: 0 2.4rem;
    }
}

.counted{
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}