@use 'common'; // 사이트 공통 스타일(기본/초기화)
@use 'variables'; // 스타일 에셋 (컬러/폰트)
@use 'components'; // 컴포넌트 (버튼/카드)
@use 'animations'; // 애니메이션  
@use 'responsive'; //미디어 쿼리(반응형)

// 서브페이지
@use 'app'; // 서브페이지(app) 스타일
@use 'ourstory'; // 서브페이지(ourstory) 스타일

html{
    font-size: 10px;
}


// 사이트 공통 스타일 (기본값, 초기화 등)
// reset.css 같은 역할

// _common.scss
html, body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (min-width: 768px){
    .custom-padding{
        padding: 0 2.4rem;
    }
}
